body {
  background-color: #2e3331;
}
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

table td {
  position: relative;
  left: 403px;
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  background-color: #2e3331;
  border-bottom: none;
  border-right: none;
  background-color: grey;
}

.player {
  background-color: grey;
  position: relative;
  left: 417px;
  top: 100px;
  width: 500px;
  height: 300px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
}

.color {
  position: relative;
  left: 505px;
  color: green;
}

.button1 {
  width: 85px;
  height: 68px;
  position: relative;
  right: 141px;
  top: 112px;
}

.button2 {
  width: 85px;
  height: 68px;
  position: relative;
  right: 102px;
  top: 112px;
}

.input1 {
  width: 130px;
  position: relative;
  left: 104px;
  top: 30px;
}

.input2 {
  width: 130px;
  position: relative;
  left: 104px;
  top: 30px;
}
.title {
  position: relative;
  top: 92px;
  left: 122px;
  font-size: 20px;
  color: white;
}

.star {
  position: relative;
  left: 521px;
}
.turn {
  position: relative;
  left: 505px;
}

img {
  width: 60px;
  padding-left: 10px;
}
